
@{
    ViewBag.Title = "takeInstruction";
}

<h2>Please Input the Instruction</h2>

<form action="giveInstruction" method="post">

    <label for="inst">Type here:</label>
    <input type="text" name="inst" placeholder="(ex.: AFB+3GG-5HC+9)"/>
    <input type="submit" name="name" value="Submit" />

</form>
